<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.clevertap.clevertap_plugin">
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application>
    <service
        android:name=".isolate.CleverTapIsolateBackgroundService"
        android:permission="android.permission.BIND_JOB_SERVICE"
        android:exported="false"/>
    </application>
</manifest>
